@import "@fontsource/goldman/latin.css";

/* Colors */
$BG_Color: #181810;
//$BG_Gradient: linear-gradient(45deg,#002446,#3c78d8,#70c7e4,#96d358,#e4ff66); //orig
$BG_Gradient: linear-gradient(45deg,#002446, #335b8f, #53999b, #6e8f4a,#bbbb44); //muted
//$BG_Gradient: linear-gradient(19deg, #21D4FD, #B721FF);
//$BG_Gradient: linear-gradient(0deg, #08AEEA, #2AF598);
//$BG_Gradient: linear-gradient(132deg, #F4D03F, #16A085);
//$BG_Gradient: linear-gradient(45deg, #2c2823, #655735, #d2ad3b); //muted brown-gold
$fileUploadButtonBGColor: #90c55b;
$fileUploadButtonShadowColor: #537531;
$fileChosenNameColor: white;
$outputAreaTitleColor: #666a6a;
$outputAreaBGColor: rgba(100, 105, 105, 0.62);
$vizAreaBGColor: #222222;
$errorPopupTextColor: #aa0000;
$errorPopupBGColor: #202020cc;
$playButtonBGColor: #6aa84f;
$playButtonColor: green;
$timelineTrackBGColor: #545d5d; //#4d4d4d //#333330
$timelineTrackThumbColor: yellow; //white
$timelineCellLabelColor: #ada82c;
$sdpInfoBGColor: #0033A0;
$sdpInfoTextColor: white;
$sdpLinkColor: #D64309;

* {
   font-family: 'Goldman', sans-serif;
   font-size: 5pt;
   //background-color: red;
}

body {
   margin: 0;
}

html {
   height: 100vh;
   background-color: $BG_Color;
   //background-image: $BG_Gradient;
   //background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
   //background-blend-mode: multiply;
   background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
   //background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
   //background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
   //background-image: linear-gradient(-45deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
   //background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
   //background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
   //background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
}

/* Styles in the grid are organized top->bottom, left->right */
#app-grid {
   & > * {
      z-index: 1;
   }
   z-index: 1;
   width: calc(100vw - 20px); //was 960px
   height: calc(100vh - 125px); //was 530px
   box-sizing: border-box;
   display: grid;
   grid-template-rows: 22px auto 40.5px 14px; //responsive height for: viz-area, output-area
   grid-template-columns: auto 100px 155px; //responsive width for: file-area, viz-area, timeline-track-area
   gap: 5px;
   padding: 5px;
   margin: 10px;
   //background-image: $BG_Gradient;
   //background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
   //background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
   //background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
   //background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
   //background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);

   background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
   background-blend-mode: multiply;

   //background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
   //background-blend-mode: multiply;

   //background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
   //background-blend-mode: multiply,multiply;

   //background-color: #36332f;
   border-radius: 8px;
   box-shadow: black 0 0 8px;
   // ----------------------------------------- Grid Row 1 -----------------------------------------
   #file-area-flex {
      grid-row: 1;
      grid-column: 1;
      display: flex;
      flex-direction: column;
      #marker-file-div { //see .file-upload-button and .file-chosen-name for shared props
         #marker-file-button {
         }
         #marker-file-name {
         }
      }
      #force-file-div { //see .file-upload-button and .file-chosen-name for shared props
         #force-file-button {
         }
         #force-file-name {
         }
      }
   }
   #logo {
      grid-row: 1;
      grid-column: 2;
      text-align: right;
      color: #111111;
      font-size: 18pt;
      line-height: 26pt;
      font-weight: 900;
   }
   #output-area-title {
      grid-row: 1;
      grid-column: 3;
      text-align: center;
      font-size: 8pt;
      font-weight: bold;
      line-height: 30pt;
      color: $outputAreaTitleColor;
   }
   // ----------------------------------------- Grid Row 2 -----------------------------------------
   #viz-area {
      grid-row: 2;
      grid-column: 1/3;
      background-color: $vizAreaBGColor;
      overflow-y: hidden;
      > div {
         height: 100%;
      }
   }
   #popup-area {
      z-index: 2;
      grid-row: 2;
      grid-column: 1/3;
      visibility: hidden;
      #error-popup {
         z-index: 3;
         padding: 15px;
         white-space: pre;
         overflow: scroll;
         color: $errorPopupTextColor;
         background-color: $errorPopupBGColor;
         height: calc(100vh - 256px);
         font-family: 'monospace','sans-serif';
         font-size: 9pt;
         cursor: text;
      }
   }
   #output-area {
      grid-row: 2;
      grid-column: 3;
      background-color: $outputAreaBGColor;
      box-shadow: 0 0 8px #303a3a inset, 0 0 5px #303a3a;
      padding: 5px;
      #selection-info-view {
         & > * {
            font-size: 9pt;
         }
         & :first-child {
            margin-top: 0;
         }
      }
   }
   // ----------------------------------------- Grid Row 3 -----------------------------------------
   #timeline-track-area {
      grid-row: 3;
      grid-column: 1/3;
      display: flex;
      flex-direction: column;
      #timeline-track-flex {
         display: flex;
         align-items: center;
         #play-button {
            width: 36px;
            height: 36px;
            padding: 8px;
            margin-right: 5px;
            border: none;
            background-color: $playButtonBGColor;
            box-shadow: 0 0 7px $fileUploadButtonShadowColor inset, 0 0 5px #303a3a;
            display: grid;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            cursor: pointer;
            > svg {
               width: 100%;
               color: $playButtonColor;
            }
         }
         #timeline-track {
            width: calc(100% - 45px);
            -webkit-appearance: none;
            &::-webkit-slider-runnable-track {
               height: 36px;
               cursor: pointer;
               background: $timelineTrackBGColor;
               box-shadow: 0 0 8px #303a3a inset, 0 0 5px #303a3a;
            }
            &::-webkit-slider-thumb {
               height: 36px;
               width: 3px;
               border-radius: 1px;
               background: $timelineTrackThumbColor;
               box-shadow: 0 0 2px #303a3a inset, 0 0 2px #303a3a;
               cursor: pointer;
               -webkit-appearance: none;
            }
            &::-moz-range-track {
               height: 36px;
               cursor: pointer;
               background: $timelineTrackBGColor;
            }
            &::-moz-range-thumb {
               height: 36px;
               width: 2px;
               background: $timelineTrackThumbColor;
               cursor: pointer;
               -webkit-appearance: none;
            }
         }
      }
   }
   #timeline-manual-area {
      grid-row: 3;
      grid-column: 3;
      text-align: center;
   }
   // ----------------------------------------- Grid Row 4 -----------------------------------------
   #timeline-track-under-area {
      grid-row: 4;
      grid-column: 1/3;
      position: relative;
      top: -7px;
      #play-button-loop-checkbox-label {
         color: white;
         position: relative;
         bottom: 8px;
         left: 3px;
      }
      #play-button-loop-checkbox {
         width: 8px;
         position: relative;
         bottom: -5px;
      }
   }
}

// -------------------------------------- Beneath App grid --------------------------------------
#sdp-logo-area {
   width: 100vw; //was 960px
   #sdp-flex {
      display: flex;
      flex-direction: row;
      justify-content: center;
      #sdp-logo {
         height: 91.5px; //width: 213.5px;
         border-radius: 10px 0px 0px 10px;
      }
      #sdp-info {
         padding: 10px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         font-size: 4pt;
         text-align: center;
         background-color: $sdpInfoBGColor;
         color: $sdpInfoTextColor;
         white-space: pre-line;
         border-radius: 0px 10px 10px 0px;
         a {
            text-decoration: none;
            color: $sdpLinkColor;
            font-weight: bold;
            font-size: 4pt;
         }
      }
   }
}

.file-upload-button {
   background-color: $fileUploadButtonBGColor;
   width: 124px;
   height: 14px;
   font-weight: bold;
   border: solid 1px $fileUploadButtonShadowColor;
   ////border: none;
   border-radius: 5px;
   box-shadow: 0 0 4px $fileUploadButtonShadowColor inset;
   cursor: pointer;
}

.file-chosen-name {
   color: $fileChosenNameColor;
   padding-left: 5px;
}

.timeline-cell {
   width: 34.5px;
   height: 17.75px;
   margin: -2.5px;
   padding: 0px 3px;
   text-align: left;
   border: solid black 1px;
   &:focus {
      outline: none;
   }
   &.label {
      color: $timelineCellLabelColor;
      border: none;
   }
}

input:disabled {
   color: black;
   background-color: gray;
   -moz-appearance: textfield;
   &::-webkit-inner-spin-button {
      -webkit-appearance: none;
   }
}
