@import "@fontsource/goldman/latin.css";

/* Colors */
$BG_Color: #181910;
$BG_Gradient: linear-gradient(45deg,#002446,#3c78d8,#70c7e4,#96d358,#e4ff66);
$fileUploadButtonBGColor: #90c55b;
$fileChosenNameColor: white;
$outputAreaTitleColor: #666666;
$outputAreaBGColor: #4d4d4d9d;
$vizAreaBGColor: #222222;
$errorPopupTextColor: #aa0000;
$errorPopupBGColor: #202020cc;
$playButtonBGColor: #6aa84f;
$playButtonColor: green;
$timelineTrackBGColor: #545d5d; //#4d4d4d //#333330
$timelineTrackThumbColor: yellow; //white
$timelineCellLabelColor: yellow;
$sdpInfoBGColor: #0033A0;
$sdpInfoTextColor: white;
$sdpLinkColor: #D64309;

* {
   font-family: 'Goldman', sans-serif;
   font-size: 1em;
}

body {
   margin: 0;
}

html {
   background-color: $BG_Color;
}

/* Styles in the grid are organized top->bottom, left->right */
#app-grid {
   & > * {
      z-index: 1;
      //background-color: red;
   }
   z-index: 1;
   width: 99vw; //was 960px
   height: 92vh; //was 530px
   box-sizing: border-box;
   display: grid;
   grid-template-rows: 2.5vh 82.2vh 4vh 1vh; //responsive height for: viz-area, output-area
   grid-template-columns: calc(66vw - 3.4vmin) 16vw 18vw; //responsive width for: file-area, viz-area, timeline-track-area
   gap: 0.6vmin;
   padding: 0.6vmin;
   margin: 0.9vmin;
   background-image: $BG_Gradient;
   border-radius: 0.9vmin;
   box-shadow: black 0 0 8px;
   // ----------------------------------------- Grid Row 1 -----------------------------------------
   #file-area-flex {
      grid-row: 1;
      grid-column: 1;
      display: flex;
      flex-direction: column;
      #marker-file-div { //see .file-upload-button and .file-chosen-name for shared props
         #marker-file-button {
         }
         #marker-file-name {
         }
      }
      #force-file-div { //see .file-upload-button and .file-chosen-name for shared props
         #force-file-button {
         }
         #force-file-name {
         }
      }
   }
   #logo {
      grid-row: 1;
      grid-column: 2;
      text-align: right;
      font-size: 4.5em;
      line-height: 1.3em;
      font-weight: 900;
   }
   #output-area-title {
      grid-row: 1;
      grid-column: 3;
      text-align: center;
      font-size: 1.8em;
      font-weight: bold;
      line-height: 4.2em;
      color: $outputAreaTitleColor;
   }
   // ----------------------------------------- Grid Row 2 -----------------------------------------
   #viz-area {
      grid-row: 2;
      grid-column: 1/3;
      background-color: $vizAreaBGColor;
      //overflow: hidden;
      > div {
         width: 100%;
         height: 100%;
      }
   }
   #popup-area {
      z-index: 2;
      grid-row: 2;
      grid-column: 1/3;
      visibility: hidden;
      #error-popup {
         z-index: 3;
         padding: 15px;
         white-space: pre;
         overflow: scroll;
         color: $errorPopupTextColor;
         background-color: $errorPopupBGColor;
         height: 80.9vh;
         font-family: 'monospace','sans-serif';
         font-size: 1.5em;
         cursor: text;
      }
   }
   #output-area {
      grid-row: 2;
      grid-column: 3;
      background-color: $outputAreaBGColor;
      padding: 5px;
      #selection-info-view {
         & > * {
            font-size: 1.7em;
         }
         & :first-child {
            margin-top: 0;
         }
      }
   }
   // ----------------------------------------- Grid Row 3 -----------------------------------------
   #timeline-track-area {
      grid-row: 3;
      grid-column: 1/3;
      display: flex;
      flex-direction: column;
      #timeline-track-flex {
         display: flex;
         align-items: center;
         #play-button {
            width: 4.5vw;
            height: 4vh;
            padding: 1vmin;
            margin-right: 0.6vw;
            border: none;
            background-color: $playButtonBGColor;
            display: grid;
            justify-content: center;
            align-items: center;
            border-radius: 0.7vmin;
            cursor: pointer;
            > svg {
               width: 100%;
               height: 100%;
               color: $playButtonColor;
            }
         }
         #timeline-track {
            width: calc(100% - 4.5vw + 0.6vw);
            -webkit-appearance: none;
            &::-webkit-slider-runnable-track {
               height: 3.85vh;
               cursor: pointer;
               background: $timelineTrackBGColor;
            }
            &::-webkit-slider-thumb {
               height: 3.85vh;
               width: 0.2vw;
               background: $timelineTrackThumbColor;
               cursor: pointer;
               -webkit-appearance: none;
            }
            &::-moz-range-track {
               height: 3.85vh;
               cursor: pointer;
               background: $timelineTrackBGColor;
            }
            &::-moz-range-thumb {
               height: 3.85vh;
               width: 0.2vw;
               background: $timelineTrackThumbColor;
               cursor: pointer;
               -webkit-appearance: none;
            }
         }
      }
   }
   #timeline-manual-area { //see .timeline-cell
      grid-row: 3;
      grid-column: 3;
      text-align: center;
   }
   // ----------------------------------------- Grid Row 4 -----------------------------------------
   #timeline-track-under-area {
      grid-row: 4;
      grid-column: 1/3;
      position: relative;
      top: -0.5vh;
      #play-button-loop-checkbox-label {
         color: white;
         font-size: 1.3em;
         margin: 0 0.3vw;
         position: relative;
         bottom: 0.2vh;
         //left: 0.3vw;
      }
      #play-button-loop-checkbox {
         width: 0.8vw;
         height: 0.8vh;
         position: relative;
         bottom: -0.2vh;
      }
   }
}

// -------------------------------------- Beneath App grid --------------------------------------
#sdp-logo-area {
   width: 100vw; //was 960px
   #sdp-flex {
      display: flex;
      flex-direction: row;
      justify-content: center;
      #sdp-logo {
         height: 91.5px; //width: 213.5px;
         border-radius: 10px 0px 0px 10px;
      }
      #sdp-info {
         padding: 10px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         font-size: 4pt;
         text-align: center;
         background-color: $sdpInfoBGColor;
         color: $sdpInfoTextColor;
         white-space: pre-line;
         border-radius: 0px 10px 10px 0px;
         a {
            text-decoration: none;
            color: $sdpLinkColor;
            font-weight: bold;
            font-size: 4pt;
         }
      }
   }
}

.file-upload-button {
   background-color: $fileUploadButtonBGColor;
   width: 17vw;
   height: 1.52vh;
   font-size: 1.1em;
   font-weight: bold;
   border-radius: 0.4vmin;
   cursor: pointer;
}

.file-chosen-name {
   color: $fileChosenNameColor;
   font-size: 1.1em;
   padding-left: 0.6vw;
}

.timeline-cell {
   width: 4.25vw;
   height: 1.4vh;
   margin: -2px;
   padding: 0 0.25vw;
   text-align: left;
   &:focus {
      outline: none;
   }
   &.label {
      color: $timelineCellLabelColor;
   }
}

input:disabled {
   -moz-appearance: textfield;
   &::-webkit-inner-spin-button {
      -webkit-appearance: none;
   }
}
